<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liquor Store</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Liquor Store Home</div>
<div class="demo-container">
    <h3>Mi foarte tare pula</h3>
    <ul>
        <li>Bla bla</li>
        <li>Bla bla</li>
        <li>Bla Bla</li>
    </ul>
</div>

<th:block th:include="/_footer"></th:block>

</body>
</html>